## Print Statement

* f string
* .format()

In [5]:
name = "Isha"
age = 24
degree = "MSc Mathematics"

print('My name is {firstname} and my age is {age}. I have studied {edu}'.format(firstname=name, age=age, edu=degree))

My name is Isha and my age is 24. I have studied MSc Mathematics

In [6]:
print(f'My name is {name} and my age is {age}. I have studied {degree}')

My name is Isha and my age is 24. I have studied MSc Mathematics

# Control Flow

### Decision Making Statements
 * It is kinda similar to making decisions during situations occuring at the time of program execution and action can be taken according to specified conditions.
 * Structure of Decision making evaluate several expressions that provide True or False as a result.
 * It is up to the programmer to decide which type of action is needed to take and execute the statements based upon True and False.
 
#### There are several types of decision making and conditional statements as:

1. if
2. if else
3. if elif else
4. Nested if 
5. Single Statement Suites

In [8]:
age = int(input('Please Enter Your Age Here:'))
if age >=18 and age <=45:
    print("You are a Young Blood")
elif age<18:
    print('You are a Juviniel')
else:
    print('You are a Veteran')

Please Enter Your Age Here: 22

You are a Young Blood

In [12]:
price = int(input('Please Enter the Product Price in Rs. :'))
if price >1000:
    new_price = price*0.8
    print(f'CONGRATULATIONS! \nYou have got 20% DISCOUNT \nThe Final Price of the Product for You is: {new_price}')
else:
    new_price = price*0.7
    print(f'CONGRATULATIONS! \nYou have got 30% DISCOUNT \nThe Final Price of the Product for You is: {new_price}')

Please Enter the Product Price in Rs. : 900

CONGRATULATIONS!
You have got 30% DISCOUNT
The Final Price of the Product for You is: 630.0

In [14]:
price = int(input('Please Enter the Product Price in Rs. :'))
if price >1000:
    print('CONGRATULATIONS! \nYou have got 20% DISCOUNT \nThe Final Price of the Product for You is: {new_price}'.format(new_price=price*0.8))
else:
    print('CONGRATULATIONS! \nYou have got 30% DISCOUNT \nThe Final Price of the Product for You is: {new_price}'.format(new_price=price*0.7))

Please Enter the Product Price in Rs. : 900

CONGRATULATIONS!
You have got 30% DISCOUNT
The Final Price of the Product for You is: 630.0

In [17]:
price = int(input('Please Enter the Product Price in Rs. :'))
if price >3000:
    print('CONGRATULATIONS! \nYou have got 40% DISCOUNT \nThe Final Price of the Product for You is: {new_price}'.format(new_price=price*0.6))
elif price >=2000 and price<3000:
    print('CONGRATULATIONS! \nYou have got 30% DISCOUNT \nThe Final Price of the Product for You is: {new_price}'.format(new_price=price*0.7))
elif price >1000 and price < 2000:
    print('CONGRATULATIONS! \nYou have got 25% DISCOUNT \nThe Final Price of the Product for You is: {new_price}'.format(new_price=price*0.75))
else:
    print('CONGRATULATIONS! \nYou have got 20% DISCOUNT \nThe Final Price of the Product for You is: {new_price}'.format(new_price=price*0.8))

Please Enter the Product Price in Rs. : 4000

CONGRATULATIONS!
You have got 40% DISCOUNT
The Final Price of the Product for You is: 2400.0

In [20]:
joining_age = 25
while joining_age<=60:
    joining_age+=1
    print(joining_age)
else:
    print('Sorry its time for tetirement')

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
Sorry its time for tetirement

## Nested Loop
* Star triangles

In [22]:
n = 7    # this is the width of the triangle

for i in range (0,n):
    for j in range (0, i+1):
        print('*', end = '')

****************************

In [23]:
n = 7    # this is the width of the triangle

for i in range (0,n):
    for j in range (0, i+1):
        print('*')

*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*

In [26]:
n = 7    # this is the width of the triangle

for i in range (0,n):
    for j in range (0, i+1):
        print('*', end = '')
    print("\n")      # \r shifts your cursor to the beginning of the string or linea

*

**

***

****

*****

******

*******

* \r will just work as you have shifted your cursor to the beginning of the string or line

In [24]:
n = 7    # this is the width of the triangle

for i in range (0,n):
    for j in range (0, i+1):
        print('*', end = '')
    print("\r")      # \r shifts your cursor to the beginning of the string or linea

*
**
***
****
*****
******
*******

## Loop Control

* Break
* Continue

In [31]:
fruits = ['Mango', 'Cherry', 'Apple', 'Papaya', 'Grapes']

for i in fruits:
    if i=='Apple':
        print('The Fruit is APPLE')
    print(i)

Mango
Cherry
The Fruit is APPLE
Apple
Papaya
Grapes

In [32]:
fruits = ['Mango', 'Cherry', 'Apple', 'Papaya', 'Grapes']

for i in fruits:
    if i=='Apple':
        print('The Fruit is APPLE')
        break
    print(i)

Mango
Cherry
The Fruit is APPLE

In [33]:
fruits = ['Mango', 'Cherry', 'Apple', 'Papaya', 'Grapes']

for i in fruits:
    if i=='Apple':
        print('The Fruit is APPLE')
        pass
    print(i)

Mango
Cherry
The Fruit is APPLE
Apple
Papaya
Grapes

In [34]:
fruits = ['Mango', 'Cherry', 'Apple', 'Papaya', 'Grapes']

for i in fruits:
    if i=='Apple':
        print('The Fruit is APPLE')
        continue
    print(i)

Mango
Cherry
The Fruit is APPLE
Papaya
Grapes

In [29]:
fruits = ['Mango', 'Cherry', 'Apple', 'Papaya', 'Grapes']

for i in fruits:
    if i=='Apple':
        print('The Fruit is APPLE')
        # break
    else: print(i)

Mango
Cherry
The Fruit is APPLE
Papaya
Grapes

In [30]:
fruits = ['Mango', 'Cherry', 'Apple', 'Papaya', 'Grapes']

for i in fruits:
    if i=='Apple':
        print('The Fruit is APPLE')
        break
    else: print(i)

Mango
Cherry
The Fruit is APPLE

In [35]:
fruits = ['Mango', 'Cherry', 'Apple', 'Papaya', 'Grapes']

for i in fruits:
    if i=='Apple':
        print('The Fruit is APPLE')
        pass
    else: print(i)

Mango
Cherry
The Fruit is APPLE
Papaya
Grapes

In [36]:
fruits = ['Mango', 'Cherry', 'Apple', 'Papaya', 'Grapes']

for i in fruits:
    if i=='Apple':
        print('The Fruit is APPLE')
        continue
    else: print(i)

Mango
Cherry
The Fruit is APPLE
Papaya
Grapes