<a href="https://colab.research.google.com/github/Sha-98/Data-Science-Masters/blob/main/MySQL_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## MySQL Assignment

### **Q1. What is a database? Differentiate between SQL and NoSQL databases.**

A database is a structured collection of data that is organized and stored in a way that facilities efficient retrieval, management, and updating of the data. it serves as a centralized and organized repository for storing and managing information.

However, there are certain differences among the SQL and NoSQL databases as listed below:

**1. Data Structure-**
* ***SQL Databases*** - Tables with fixed schemas
* ***NoSQL Databased*** - Flexible and dynamic

**2. Query Language-**
* ***SQL Databases*** - SQL (Structured Query Language)
* ***NoSQL Databased*** - Varies based on the database

**3. Schema-**
* ***SQL Databases*** - Fixed Schema
* ***NoSQL Databased*** - Schema Less

**4. Data Storage-**
* ***SQL Databases*** - Structured (rows and columns)
* ***NoSQL Databased*** - Unstructured or semi-structured (e.g., JSON, BSON)

**5. Scaling-**
* ***SQL Databases*** - Typically vertical scaling (adding resources to a single server)
* ***NoSQL Databased*** - Horizontally scalable (adding more servers to a distributed system)

**5. Complex Transactions-**
* ***SQL Databases*** - Well-suited for complex transactions involving multiple tables (ACID properties)
* ***NoSQL Databased*** - Often sacrifices ACID properties for better performance in distributed systems

**6. Use Cases-**
* ***SQL Databases*** - Complex queries, transactions, structured data
* ***NoSQL Databased*** - Large volumes of diverse data, rapid development, scalability

### **Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.**

DDL stands for Data Definition Language, and it is a subset of SQL that is used to define and manage the structure of a database. DDL statements are responsible for defining, altering, and deleting database objects such as tables, indexes, and views. Some common DDL statements include CREATE, DROP, ALTER, and TRUNCATE.

***1. CREATE:***
* **Purpose -** The CREATE statement is used to create a new database object, such as a table, index, or view.

* **Example:** Creating a new table named "employees" with columns for employee information.

In [ ]:
CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    hire_date DATE
)

***2. DROP:***

* **Purpose:** The DROP statement is used to delete an existing database object, such as a table, index, or view.

* **Example:** Dropping the "employees" table.

In [ ]:
DROP TABLE employees;

***3. ALTER:***

* **Purpose:** The ALTER statement is used to modify the structure of an existing database object, such as adding or dropping columns in a table.

* **Example:** Adding a new column named "department" to the "employees" table.

In [ ]:
ALTER TABLE employees
ADD COLUMN department VARCHAR(50);

T***4. RUNCATE:***

* **Purpose:** The TRUNCATE statement is used to delete all rows from a table but retains the table structure for future use.

* **Example:** Removing all records from the "employees" table.

In [ ]:
TRUNCATE TABLE employees;

***In summary, these DDL statements are essential for defining and managing the structure of a database. CREATE is used for creating new objects, DROP is used for deleting objects, ALTER is used for modifying the structure of existing objects, and TRUNCATE is used for removing all rows from a table while keeping the table structure intact.***

### **Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.**

DML stands for Data Manipulation Language, and it is a subset of SQL used to manage and manipulate data stored in a database. DML statements are responsible for inserting, updating, and deleting records in database tables. The three main DML statements are INSERT, UPDATE, and DELETE.

***1. INSERT:***

* **Purpose:** The INSERT statement is used to add new records (rows) into a table.

* **Example:** Inserting a new employee into the "employees" table.

In [ ]:
INSERT INTO employees (employee_id, first_name, last_name, hire_date)
VALUES (1, 'John', 'Doe', '2023-01-01');

In this example, a new record with the specified values for the columns employee_id, first_name, last_name, and hire_date is added to the "employees" table.

***2. UPDATE:***

* **Purpose:** The UPDATE statement is used to modify existing records in a table.

* **Example:** Updating the department for the employee with employee_id 1 in the "employees" table.

In [ ]:
UPDATE employees
SET department = 'IT'
WHERE employee_id = 1;

This example updates the "employees" table by setting the value of the department column to 'IT' for the employee with employee_id 1.

***3. DELETE:***

* **Purpose:** The DELETE statement is used to remove records from a table.

* **Example:** Deleting the employee with employee_id 1 from the "employees" table.

In [ ]:
DELETE FROM employees
WHERE employee_id = 1;

In this example, the record for the employee with employee_id 1 is removed from the "employees" table.

***These DML statements are crucial for managing the data within a database. INSERT is used to add new data, UPDATE is used to modify existing data, and DELETE is used to remove data from a table. Together, DDL and DML statements form the core components of SQL, allowing for the definition and manipulation of the structure and content of a database.***

### **Q4. What is DQL? Explain SELECT with an example.**

DQL stands for Data Query Language, and it is a subset of SQL (Structured Query Language) specifically designed for querying and retrieving data from a database. The primary and most commonly used DQL statement is SELECT.

***1. SELECT:***

* **Purpose:** The SELECT statement is used to retrieve data from one or more tables in a database.

* **Example:** Retrieving information about employees from the "employees" table.

In [ ]:
SELECT employee_id, first_name, last_name, hire_date
FROM employees
WHERE department = 'IT';

In this example:

* SELECT: Specifies the columns to be retrieved.
* FROM employees: Specifies the table from which to retrieve the data ("employees" table in this case).
* WHERE department = 'IT': Specifies a condition to filter the rows based on the value in the "department" column.

The result of this query would be a set of rows containing the selected columns (employee_id, first_name, last_name, hire_date) where the department is 'IT'.

Additional clauses and options can be added to the SELECT statement for more complex queries, such as JOIN clauses to combine data from multiple tables, GROUP BY for aggregating data, and ORDER BY for sorting the result set.

***DQL is focused on querying and retrieving data, providing a powerful tool for extracting information from a database.***

### **Q5. Explain Primary Key and Foreign Key.**

***01. Primary Key -***
A primary key is a column or a set of columns in a database table that uniquely identifies each record in that table. The primary key must have a unique value for each record, and it cannot contain NULL values. Its purpose is to ensure the integrity and uniqueness of each row in the table. Typically, the primary key is used as a reference point for relationships with other tables in the database.

For example, consider a table named "employees" with an "employee_id" column as the primary key:

In [ ]:
CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    hire_date DATE
);

In this case, the "employee_id" column is designated as the primary key. It will ensure that each employee has a unique identifier, and no two employees can have the same "employee_id."

***02. Foreign Key -***
A foreign key is a column or a set of columns in a database table that refers to the primary key of another table. It establishes a link between the data in two tables, creating a relationship between them. The foreign key constraint ensures that the values in the foreign key column(s) match the values in the primary key column of the referenced table or are NULL.

For example, consider another table named "departments" with a "department_id" column as the primary key. We can create a foreign key relationship between the "employees" table and the "departments" table based on the "department_id" column:

In [ ]:
CREATE TABLE departments (
    department_id INT PRIMARY KEY,
    department_name VARCHAR(50)
);

ALTER TABLE employees
ADD COLUMN department_id INT,
ADD CONSTRAINT fk_department
    FOREIGN KEY (department_id)
    REFERENCES departments (department_id);

In this example, the "department_id" column in the "employees" table is a foreign key that references the primary key "department_id" in the "departments" table. This establishes a relationship, ensuring that values in the "department_id" column of the "employees" table correspond to existing values in the "department_id" column of the "departments" table.

### **Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.**

In [ ]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.10/dist-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in /usr/local/lib/python3.10/dist-packages (from mysql-connector-python) (4.21.12)

In [ ]:
import mysql.connector

# Replace these with your MySQL server details
host = 'localhost'
user = 'root'
password = '1234@abcd'
database = 'tutorial'

# Connect to the MySQL server
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database
)

# Create a cursor object using the cursor() method
cursor = connection.cursor()

# Example of executing a SQL query using the execute() method
query = "SELECT * FROM my_table"
cursor.execute(query)

# Fetch and print the results
result = cursor.fetchall()
for row in result:
    print(row)

# Close the cursor and connection
cursor.close()
connection.close()

***Connecting to MySQL:***

* **mysql.connector.connect():** This function establishes a connection to the MySQL server using the provided host, user, password, and database parameters.
Creating a Cursor:

* **cursor = connection.cursor():** The cursor() method is called on the connection object to create a cursor. A cursor is an object used to interact with the database. It allows you to execute SQL queries and fetch results.
Executing a Query:

* **cursor.execute(query):** The execute() method is used to execute a SQL query. In this example, a SELECT query is executed to fetch all records from a table.

* **Fetching Results:**
***01. cursor.fetchall():*** After executing a SELECT query, you can use
***02. fetchall()*** to retrieve all the rows returned by the query.

* **Closing Cursor and Connection:**


> ***cursor.close()*** and ***connection.close():*** It's good practice to close the cursor and the connection once you're done using them to free up resources.

## **Q7. Give the order of execution of SQL clauses in an SQL query.**

The order of execution of SQL clauses in a query follows a logical sequence, and it generally occurs in the following order:

**01. FROM:**

Specifies the table or tables from which the data will be retrieved.
JOIN:

If the query involves multiple tables, the JOIN clause is used to combine rows from two or more tables based on a related column between them.

**02. WHERE:**

Filters the rows based on a specified condition. Rows that do not satisfy the condition are excluded from the result set.

**03. GROUP BY:**

Groups the result set by one or more columns. It is often used in conjunction with aggregate functions like SUM, AVG, COUNT, etc.

**04. HAVING:**

Similar to the WHERE clause, but it is used specifically with the GROUP BY clause to filter the grouped rows based on a condition.

**05. SELECT:**

Specifies the columns to be included in the result set. This is also the point where expressions, calculations, or aliases for columns are defined.

**06. DISTINCT:**

Removes duplicate rows from the result set.

**07. ORDER BY:**

Sorts the result set based on one or more columns in ascending or descending order.

**08. LIMIT/OFFSET:**

Limits the number of rows returned by the query. OFFSET is often used in conjunction with LIMIT to skip a certain number of rows before starting to return rows.

***It's important to note that not every query will include all of these clauses, and some clauses may be optional or used in different combinations depending on the specific requirements of the query. The order of execution ensures that the query is logically processed to produce the desired result set.***