<a href="https://colab.research.google.com/github/Sha-98/Data-Science-Masters/blob/main/Python_Assignment_20Sept.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Assignment

Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.



[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [1]:
# tuple sorting
t1 = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [9]:
# sorting using a for loop
for j in range(0,5):
  for i in range(0,3):
    if t1[i][1] > t1[i+1][1]:
      a = t1[i]
      t1[i] = t1[i+1]
      t1[i+1] = a

t1

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

In [11]:
# using lambda function
sorted_t1 = sorted(t1, key=lambda x: x[1])
sorted_t1

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
#finding square
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
sq_l = list(map(lambda x : x**2,l))
sq_l

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions

Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [28]:
# converting list of numbers into tuple of string with same data
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [30]:
str_tuple = tuple(map(lambda x : str(x), l))
str_tuple

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

In [40]:
l = []
for i in range (0,26):
  l.append(i)
  l = list(l)

print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

In [46]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

from functools import reduce
reduced_list = reduce(lambda x, y : x*y, l1)
reduced_list

15511210043330985984000000

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.

[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [ ]:
l1 = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [49]:
filter_l1 = list(filter(lambda x : x if x%2 == 0 and x%3 == 0 else '', l1))
filter_l1

[6, 12, 18, 24]

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.

['python', 'php', 'aba', 'radar', 'level']

In [50]:
# program to search for palindromes
l = ['python', 'php', 'aba', 'radar', 'level']

In [77]:
palindrom_l = list(filter(lambda x : (x == ''.join(reversed(x))),l))
palindrom_l

['php', 'aba', 'radar', 'level']