## Type Casting

### What do we understand about type casting?
The conversion of variables from one data type to another is called type casting. Python supports wide variety of functions and methods like int(), float(), str(), bool(), list(), dict(), tuple(), ord(), hex() and many more.
Type Casting is the one word for the taks of converting one of these types into another form. This jupytor notebook explains the method of type casting through practical code, which can be helpful for all the beginners learning python programming language.

In [1]:
# an example of typecasting
a = 5
type(a)

int

#### 1. In following 2 blocks of code, there is a difference in the way output is being given
If we use "print()" statement, the result is printed in the output console, which means we are actually printing on the screen. However, if we are directly executing any operation, we do get the result but it is not in the output console, we are just seeing what is happening when we execute our code.

This is a small but important difference for understanding.

In [2]:
a = 5    # a is automatically assigned as an int variable
b = 6    # b is automatically assigned as an integer variable
a + b

11

In [3]:
a = 5
b = 6
# print(a + b)

c = a + b      # c is now also an integer as a and b are integer
print(c)

11

#### 2. Following cells will show some of the examples of type casting in python
In this example, we are initiating a string variable and passing a number in it withing quotes. Later on we are converting this variable into integer using int() method in python. The data type if both the variable is then printed and also their values, to check the difference among them.

In [4]:
# initiating a string variable
string = "56"

# converting the string variable into integer
number = int(string)

In [5]:
type(string)

str

In [6]:
type(number)

int

In [7]:
string

'56'

In [8]:
number

56

#### 3. Following cells shows how to perform mathematical operations and involve typecasting.
We can perform mathematical operations on the variables storing numbers in the string format. And this can be done in two different ways as shown below. However, there is only one condition that the adding variable must all be of int or float type. This is also applicable for substraction.

The condition is little different for multiplication. One of the digits being integer can give you the result, but it is not necessary that the obtained result is the desired result.
In the last cell, when we multiplied integer '7' with string '2', we got '77', instead of '14'. Though, we got the result and no syntax error, but we encountered a semantic error here, and thus we should always use typecasting in a right and responsible way to get the desired results.

In [12]:
# initiate two variables having numbers but have type as 'string'
num1 = '21'
num2 = '79'

#add these two number to get the sum
int_num1 = int(num1)
int_num2 = int(num2)

sum_num = int_num1 + int_num2
print("The sum of numbers is calculated as", sum_num, ".")

The sum of numbers is calculated as 100 .

In [13]:
# this can also be done in other way, where we are typecasting inside our final formula
# keeping the code restricted to one line

addition = int(num1) + int(num2)
print("The sum of numbers is calculated as", addition, ".")

The sum of numbers is calculated as 100 .

In [20]:
# for multiplication
num1 = '2'
num2 = '7'

#add these two number to get the sum
int_num1 = int(num1)
int_num2 = int(num2)

multiple_num = int_num1 * int_num2
print("The sum of numbers is calculated as", multiple_num, ".")

The sum of numbers is calculated as 14 .

In [21]:
multi_num = int(num1) * num2
print("The sum of numbers is calculated as", multi_num, ".")

The sum of numbers is calculated as 77 .

#### 4. Following cells will showcase typecasting on float.
The float variable can be converted into interger using the int() method, and this results in giving us the nearest whole number of the float we just converted into int. We can also conver the string into float and integer into float, this will add a decimal point into the previous value.

In [31]:
base = 2.5 
salary = base * 100000  # multiplying a float with int gives us float

In [27]:
salary

250000.0

In [23]:
type(base)

float

In [24]:
type(salary)

float

In [25]:
int(base)

2

In [26]:
int(salary)

250000

In [32]:
# converting an int to float adds a decimal point
a = 2500
float_num = float(a)
float_num

2500.0

#### 5. Typecasting Boolean Values
Boolean values are just 'True' and 'False', where '0' is marked as 'False' and anything else is marked as 'True'. Following cells shows the typecasting and operations on boolean objects.

In [34]:
bool(0)

False

In [35]:
bool(1)

True

In [36]:
bool(5)

True

In [37]:
bool(-2)

True

### CONCLUSION

1. The conversion of one data type to another is known as type casting or type conversion.

2. Python supports a wide variety of functions or methods like int(), float(), str(), list(), tuple(), set(), dict(), and more.

3. There are two variations of type casting in python namely - Explicit Conversiton and Implicit Conversiton

a. Explicit Conversion - A conversion which is explicitely defined within a program

b. Implicit Conversion - A conversion or dequence of conversitons required to convert a variables data type without defining it explicitely. (We have done example on it in the code blocks above)

4. According to the level of data types, one datatype is co